@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&family=Shrikhand&display=swap");
*, ::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", "sans serif";
}

main {
  padding: 0 7rem;
}
@media (max-width: 1000px) {
  main {
    padding: 0 1rem;
  }
}

.resto-title {
  margin-top: -2rem;
}

h1, h2 h3,
h4, h5, h6, p, .cite {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style-type: none;
}

.resto-title h2 {
  padding: 0 1px;
}
@media (max-width: 1000px) {
  .resto-title h2 {
    padding: 0 1rem;
  }
}

header {
  font-family: "Shrikhand", "cursive";
  text-align: center;
  position: relative;
}

header #ohmy {
  font-size: 4rem;
}

.gris {
  background-color: #f6f6f6;
}

#ville {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  background-color: #ddd;
  text-align: center;
  padding: 1rem;
}

.fa-location-dot {
  font-size: 2.7rem;
}

.paris {
  font-size: 3.5rem;
}

.wrap {
  text-align: center;
  font-family: "Roboto", "Sans serif";
}
.wrap .plus {
  font-size: 1.9rem;
}
.wrap .reservation {
  font-size: 5rem;
  font-family: "Roboto", "Sans serif";
  margin-bottom: 2rem;
  margin: 1rem;
}
@media (max-width: 1000px) {
  .wrap .reservation .reservation {
    font-size: 2rem;
  }
}
.wrap #decouvert {
  font-size: 1.5rem;
}
.wrap button {
  padding: 2rem 3rem;
  font-size: 3rem;
  border-radius: 4rem;
  font-weight: 400;
  color: white;
  border: none;
  margin-bottom: 10rem;
  margin-top: 6rem;
  background-image: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0 0 12px #ffffff;
  transition: all 100ms;
}
.wrap button:hover {
  transform: scale(1.03);
  opacity: 0.7;
}

.loader {
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 1;
  opacity: 0.5;
  -webkit-animation: checkup 100ms 2s forwards;
          animation: checkup 100ms 2s forwards;
  transform-origin: top;
}
.loader i {
  -webkit-animation: spin 5s;
          animation: spin 5s;
  border-top: 1px solid #ff79da;
  color: #ff79da;
}

@-webkit-keyframes checkup {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes checkup {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
}
.indication {
  margin-bottom: 3rem;
  counter-reset: steps;
}
.indication ol {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .indication .indication ol {
    flex-direction: column;
  }
}
.indication li {
  position: relative;
  margin-bottom: 2rem;
  font-family: "Roboto";
  list-style-type: none;
  background-color: #f6f6f6;
  border-radius: 3rem;
  box-shadow: 0 0 0 1px rgba(221, 221, 221, 0.8666666667);
  padding: 3.5rem 3.5rem;
  flex-grow: 1;
}
.indication li:hover {
  transform: translateY(0);
  background-color: rgba(236, 223, 230, 0.897);
}
.indication li:hover .fa-solid {
  color: purple;
}
.indication li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  font-size: 3rem;
  background-color: #9356dc;
  height: 4rem;
  width: 4rem;
  display: grid;
  place-items: center;
  position: absolute;
  left: -0.1rem;
  bottom: 30%;
  margin-top: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
.indication .choix {
  font-size: 3rem;
  margin-right: 2.6rem;
}
.indication .fa-solid {
  font-size: 3rem;
  margin-right: 2.5rem;
  color: gray;
}
.indication h2 {
  font-size: 2.5rem;
  margin-bottom: 5rem;
  font-family: "Roboto";
  margin-top: 8rem;
}

#ville {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  background-color: #ddd;
  text-align: center;
  padding: 1rem;
}

.fa-location-dot {
  font-size: 2.7rem;
}

.paris {
  font-size: 3.5rem;
}

.menus {
  font-family: "Raleway", sans-serif;
  background-color: #f6f6f6;
  margin-bottom: 5rem;
}
.menus h3 {
  margin-bottom: 2rem;
  padding: 2rem 0;
  font-size: 3.1rem;
  font-family: "Roboto";
}
.menus .menus__card {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.menus .new {
  position: relative;
}
.menus .new::before {
  content: "Nouveau";
  position: absolute;
  right: 2rem;
  top: 2rem;
  height: 5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  width: 13rem;
  background-color: #99E2D0;
  color: darkgreen;
  display: grid;
  place-items: center;
}
.menus .card {
  flex-grow: 1;
  margin-bottom: 3rem;
}
.menus .card__images {
  background-image: url("./photo/menus-1.jpg");
  min-height: 38rem;
  min-width: 1000px;
  background-size: cover;
  background-position: center;
  border-radius: 35px 35px 0 0;
}
.menus .card__images-2 {
  background-image: url("./photo/menus-2.jpg");
  min-height: 38rem;
  min-width: 1000px;
  background-size: cover;
  background-position: center;
  border-radius: 35px 35px 0 0;
}
.menus .card__images-3 {
  background-image: url("./photo/menus-3.jpg");
  min-height: 38rem;
  min-width: 1000px;
  background-size: cover;
  background-position: center;
  border-radius: 35px 35px 0 0;
}
.menus .card__images-4 {
  background-image: url("./photo/menus-4.jpg");
  min-height: 38rem;
  min-width: 1000px;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  border-radius: 35px 35px 0 0;
}
.menus .card .card__contenus {
  position: relative;
  background-color: white;
  padding: 1rem;
  border-radius: 0 0 2rem 2rem;
  /*h4{
      font-size: 2rem;
  }*/
}
.menus .card .card__contenus h4 {
  padding-top: 1rem;
  font-size: 3rem;
}
.menus .card .card__contenus .cite {
  margin: 0;
  padding: 0;
  font-size: 3rem;
}
.menus .card .card__contenus i {
  font-size: 3.5rem;
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
}
.menus .card .card__contenus .fas {
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  -moz-background-clip: text;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 100ms;
}
.menus .card .card__contenus .fas:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.02);
}

footer {
  background-color: rgb(46, 36, 36);
  color: #ffffff;
  padding: 1rem 2rem;
  height: 36rem;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .ensem {
  margin-right: auto;
  margin-left: 4rem;
}
footer .ensem h5 {
  font-family: "Shrikhand";
  font-weight: 500;
  margin-bottom: 3rem;
  font-size: 3.8rem;
  padding: 1rem;
}
footer .fa-utensils,
footer .fa-handshake-angle {
  font-size: 2.5rem;
  margin-left: -1rem;
}
@media (max-width: 1000px) {
  footer .fa-utensils > *,
footer .fa-handshake-angle > * {
    font-size: 0.8rem;
  }
}
footer p,
footer a {
  padding: 1rem;
}
footer .cinq {
  font-size: 2.5rem;
  margin-left: 1rem;
}
@media (max-width: 1000px) {
  footer .cinq .cinq {
    font-size: 0.8rem;
  }
}
footer .trois {
  font-size: 2.5rem;
}
@media (max-width: 1000px) {
  footer .trois trois {
    font-size: 0.8rem;
  }
}

@-webkit-keyframes nosAnimations {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes nosAnimations {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes checks {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes checks {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.palette img {
  width: 100%;
  height: 74vh;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#debut {
  background-color: #f6f6f6;
}

#food {
  position: relative;
  padding: 0 1rem;
  background-color: white;
}

.fa-arrow-left:hover {
  transform: scale(1.01);
}

#food .fa-arrow-left {
  position: absolute;
  font-size: 1.5rem;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

#food {
  font-size: 2rem;
}

h1 {
  font-size: 2rem;
}

.resto-title {
  border-radius: 2rem 2rem 0 0;
  font-family: "Shrikhand", "cursive";
  position: relative;
}

.resto-title {
  margin-top: -2rem;
  background-color: #f6f6f6;
}
.resto-title h2 {
  font-family: "Shrikhand", "cursive";
  font-size: 1.5rem;
  padding: 2rem 1rem;
  border-radius: 2rem 2rem 0 0;
}

.resto-title i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.fas {
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  -moz-background-clip: text;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 100ms;
}

.fas:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.02);
}

.resto-main {
  background-color: #f6f6f6;
  padding: 0 1rem;
  margin-top: -3rem;
}

.menus-grid {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .menus-grid {
    flex-direction: column;
  }
}
.menus-grid h3 {
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1rem;
  background-color: #f6f6f6;
  font-size: 1rem;
}
.menus-grid h3::after {
  content: "";
  height: 0.2rem;
  width: 2.8rem;
  background-color: #99e2d0;
  position: absolute;
  top: 1.2rem;
  left: 0;
}
.menus-grid .menu-class {
  background-color: white;
  box-shadow: 2px 1px 8px -3px rgb(83, 80, 80);
  border-radius: 1rem;
  overflow: hidden;
  -webkit-animation: checks 1s;
          animation: checks 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menus-grid .menu-class:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.menus-grid .menu-class:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.menus-grid .menu-class:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.menus-grid .menu-class:nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.menus-grid .menu-class:nth-child(5) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.menus-grid .menu-class:nth-child(6) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.menus-grid .menu-class:nth-child(7) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}
.menus-grid .menu-class:nth-child(8) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.menus-grid .menu-class:nth-child(9) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
.menus-grid .menu-class:nth-child(10) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.menus-grid .menu-class:nth-child(11) {
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
}
.menus-grid .menu-class:nth-child(12) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
.menus-grid .menu-item {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus-grid .menu-item .menu-prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;
  margin-left: auto;
  font-weight: 900;
}
.menus-grid .menu-item .descrpt {
  padding: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus-grid .menu-item .descrpt h4 {
  font-size: 0.8rem;
  font-weight: 900;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus-grid .menu-item .descrpt p {
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus-grid .menu-item .check {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  margin-right: -4rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  transition: margin-right 0.5s;
}
.menus-grid .menu-item .check i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #99e2d0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
}
.menus-grid .menu-item:hover {
  cursor: pointer;
}
.menus-grid .menu-item:hover .check {
  margin-right: 0;
}
.menus-grid .menu-item:hover i {
  animation: nosAnimations 1s ease-in-out;
  -webkit-animation: nosAnimations 1s ease-in-out;
  -moz-animation: nosanimations 1s ease-in-out;
  -o-animation: nosAnimations 1s ease-in-out;
}

/* commande */
#commande {
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
}
#commande button {
  padding: 0.8rem 1.1rem;
  font-size: 1rem;
  border-radius: 2rem;
  font-weight: 400;
  color: white;
  border: none;
  margin-top: 5rem;
  background-image: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0 0 12px #ddd;
  transition: all 100ms;
}
#commande button:hover {
  transform: scale(1.03);
  opacity: 0.8;
}

/* footer */
#fooder {
  background-color: rgb(46, 36, 36);
  color: #ffffff;
  padding: 1rem 0;
  margin-right: auto;
}
#fooder h5 {
  font-family: "Shrikhand";
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
#fooder .ensembles {
  margin-left: 2rem;
  font-size: 0.8rem;
}
#fooder .fa-utensils,
#fooder .fa-handshake-angle {
  font-size: 0.8rem;
  margin-left: 0rem;
}
#fooder .deux {
  font-size: 0.8rem;
  margin-left: 0.2rem;
}
#fooder .une {
  font-size: 0.8rem;
}
#fooder p {
  padding: 0.2rem;
}/*# sourceMappingURL=style.css.map */