
@mixin monAnimation {
@keyframes monAnimation{
    0% {
        transform: rotate(-270deg);
    }

    100% {
transform: tate(0);
    }  
}
}


@mixin checks {
@keyframes checks {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
}