
 .wrap{
    text-align: center;
    font-family: "Roboto", "Sans serif";

    .plus{
      font-size: 1.9rem;
    }
  
   .reservation {
    font-size:5rem;
    font-family: "Roboto", "Sans serif";
    margin-bottom: 2rem;
    margin: 1rem;
  
    @media (max-width:1000px) {
      .reservation{
        font-size: 2rem;
      }

    }
  
  }

  #decouvert{
    font-size: 1.5rem;
  }

  
  button {
  padding: 2rem 3rem;
  font-size: 3rem;
  border-radius: 4rem;
  font-weight: 400;
  color: white;
  border: none;
  margin-bottom: 13rem;
  margin-top: 10rem;
  background-image: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0 0 12px #ffffff; 
  transition: all 100ms;
  &:hover{
    transform: scale(1.03);
    opacity: calc(0.7);
  }
  }
  }

  .loader{
    display: grid;
    place-items: center;
    background-color:#ffffff;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 1;
    opacity: 0.5;
    animation: checkup 100ms  2s forwards;
    transform-origin: top;

    i{
      animation: spin 5s;
    border-top: 1px solid #ff79da;
    color: #ff79da;
    }
  }


@keyframes checkup {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
  
@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  
}