
.france{
    text-align: center;
    padding: 3rem;
    background-color: #ddd;
    justify-content: center;
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: center;
    font-family: "Roboto", "Sans serif";
    .fa-location-dot{
font-size:3rem;

    }
  h2{
    font-size: 2.9rem;
  
  }

/*{
      font-size: 3rem;
      margin-right: -9rem;
      
    }*/

    .plus{
      padding: 0  1rem;
      margin: 1rem;
    }
}


  