
.france{
    text-align: center;
    padding: 3rem;
    background-color: #f6f6f6;
    justify-content: center;
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    font-family: "Roboto", "Sans serif";
  
  h2{
    font-size: 3rem;
  margin-left: 10rem;
  }
}
.fa-location-dot{
      font-size: 3rem;
      margin-right: -9rem;
      
    }

    .plus{
      padding: 0  1rem;
      margin: 1rem;
    }
  


  