
header {
    font-family: "Shrikhand", "cursive";
    text-align: center;
    position: relative;
    background-color: white;
}

  header #ohmy{
    font-size: 4rem;
  }

     .gris{
   /* background-color:  #f6f6f6;*/
    
  }