@import "../utils/mixins.scss";
.indication {
    margin-bottom: 3rem;
    margin-top: -6rem;
    counter-reset: steps;
    background-color: white;
    padding: 0 7rem;
    @media (max-width:1000px) {
      padding: 0 1rem;
    }
  
   ol {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    margin-top: 3rem;
  }
  
  @media (max-width: 800px) {
    .indication ol {
      flex-direction: column;
    }
  }
   li {
    position: relative;
    margin-bottom: 2rem;
    font-family: "Roboto";
    list-style-type: none;
    background-color: #f6f6f6;
    border-radius: 3rem;
    box-shadow: 0 0 0 1px rgba(202, 200, 200, 0.867);
    padding: 3.5rem 3.5rem;
    flex-grow: 1;

    
   &:hover {
    transform: translateY(0);
    background-color: rgba(236, 223, 230, 0.897);
    .fa-solid{
      color: purple;
    }
}
  }
  
   li::before {
    content: counter(steps);
    counter-increment: steps;
    color: white;
    font-size: 3rem;
    background-color: #9356dc;
    height: 4rem;
    width: 4rem;
    display: grid;
    place-items: center;
    position: absolute;
    left: -0.1rem;
    bottom: 30%;
    margin-top: 50%;
    transform:translateX(-50%) ;
    border-radius: 50%;
  }
  
   .choix {
    font-size: 3rem;
    margin-right: 2.6rem;
  }
  
   .fa-solid {
    font-size: 3rem;
    margin-right: 2.5rem;
    color: gray;
  }
  
   h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: "Roboto";
  
  }
  
  }
  